:root {
    --main-color: yellow;
    --border-default: 1px solid black;
}

#id1 {
    background-color: var(--main-color);
    border: var(--border-default);
}

#id2 {
    background-color: var(--main-color);
    border: var(--border-default);
}

span {
    width: 100px;
    height: 200px;
    background-color: red;
    display: inline-block;
}

#id4 {
    display: none;
}

#id5 {
    visibility: hidden;
}

.row {
    display: flex;
}

.col {
    border: 1px solid black;
    width: calc(100% /3);
}

.col-color1 {
    background-color: red;
}

.col-color2 {
    background-color: yellow;
}

.col-color3 {
    background-color: blue;
}

/* Position */
/* #id0{
    position: relative;
} */
#id6,
#id7,
#id8 {
    background-color: yellow;
    border: 1px solid black;
    height: 100px;
    width: 300px;
}

#id7 {
    background-color: green;
    border: 1px solid black;
    position: sticky;
    top: 10px;
    opacity: 0.8;
}