#id1 {
    opacity: 0.4;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column1,
.column2 {
    width: 50%;
}

.column1 {
    background-color: red;
}

.column2 {
    background-color: yellow;
}

/* Reponsive */

/* Desktop first */
@media screen and (max-width:768px) {

    .column1,
    .column2 {
        width: 100%;
    }
}